/*
0 - 600px: Phone
600 - 900px: Tablet in potrait mode
900 - 1200px: Tablet in landscape mode
1200 - 1800px: normal styles of desktop
1800px ++ : Big Desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16 px

ORDER: BASE + Typography > general layout + grid > page layout > components

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem 3rem 0 3rem;
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #B06AB3;
  color: #fff; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #1F1F1F;
  background-color: #f7f7f7; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
    @media only screen and (max-width: 37.6em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 2rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-out;
    /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
    @media only screen and (max-width: 37.6em) {
      .heading-primary--sub {
        letter-spacing: .5rem;
        font-size: 1rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #4568DC, #B06AB3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .heading-secondary-white {
    background-image: linear-gradient(to right, #fff, #fff); }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.6em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.paragraph {
  font-size: 3rem;
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      font-size: 2rem; } }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  .paragraph-white {
    color: #fff;
    text-align: center; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-huge {
  margin-bottom: 10rem !important; }

.u-margin-top-big {
  margin-bottom: 8rem !important; }

.u-margin-right-small {
  margin-right: 2rem !important; }

.composition {
  position: relative; }
  .composition__photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
    /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 30%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 10%;
      top: -2rem;
      /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      left: 50%;
      top: 2rem;
      /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          left: 0;
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 25%;
      top: 5rem;
      /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          left: -1rem;
          top: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #B06AB3;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0, 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.phone-img {
  position: relative;
  height: 50rem; }
  .phone-img__iphone {
    height: 50rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.download-images {
  height: 50rem; }
  .download-images__qr {
    margin-left: 50%;
    transform: translateX(-50%); }
  .download-images__mobile {
    margin-left: 50%;
    transform: translateX(-50%);
    height: 30%;
    margin-top: 8rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #c31432;
  color: #fff; }
  .btn--green::after {
    background-color: #c31432; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #c31432;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #c31432;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #c31432;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.contact-info {
  margin-top: 16rem;
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
  @media only screen and (max-width: 56.25em) {
    .contact-info {
      margin-top: 8rem; } }
  .contact-info__icon, .contact-info__icon:link, .contact-info__icon:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    width: 100%;
    text-align: left;
    display: inline-block;
    font-size: 3rem;
    transition: all .2s;
    color: transparent;
    background-image: linear-gradient(to right, #4568DC, #B06AB3);
    -webkit-background-clip: text;
    background-clip: text;
    /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */
    /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
    .contact-info__icon span, .contact-info__icon:link span, .contact-info__icon:visited span {
      color: red; }
    @media only screen and (max-width: 56.25em) {
      .contact-info__icon, .contact-info__icon:link, .contact-info__icon:visited {
        padding: 1rem 0;
        font-size: 2.5rem; } }
    @media only screen and (max-width: 37.6em) {
      .contact-info__icon, .contact-info__icon:link, .contact-info__icon:visited {
        padding: .5rem 0;
        font-size: 2rem; } }
  .contact-info__icon:hover, .contact-info__icon:active {
    transform: rotate(-5deg); }

.fa-gradient {
  background-image: linear-gradient(to right, #4568DC, #B06AB3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.iframe {
  width: 100%;
  height: 50rem;
  overflow: hidden;
  border: 3px solid orangered;
  border-radius: 1px; }

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(195, 20, 50, 0.8), rgba(36, 11, 54, 0.8)), url("../img/main-img-small.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      height: 95vh; } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(195, 20, 50, 0.8), rgba(36, 11, 54, 0.8)), url("../img/main-img.jpg"); } }
  @media only screen and (max-width: 37.6em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 10rem; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 80rem;
      padding: 0 3rem; } }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem;
      /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }
  @media only screen and (max-width: 37.6em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#c31432, #4568DC);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.6em) {
    .navigation__background {
      top: 3rem;
      right: 3rem; } }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #4568DC;
  transform: translateX(1rem); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: all 0.8s cubic-bezier(0.6, -0.55, 0.265, 1.55); }

.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(70); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  visibility: visible; }

.navigation__icon {
  position: relative;
  margin-top: 3.3rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon:before {
  top: -1rem; }

.navigation__button:hover .navigation__icon:after {
  top: 1rem; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.footer__text {
  background-color: #1F1F1F;
  padding: 1rem 0;
  margin: 0 -3rem;
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
  @media only screen and (max-width: 56.25em) {
    .footer__text {
      margin: 0 0; } }
  .footer__text p {
    color: white;
    text-align: center;
    font-size: 1.3rem; }

.footer__link, .footer__link:visited, .footer__link:link {
  text-decoration: none underline;
  font-weight: bolder;
  color: white; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-explore {
  padding: 10rem 0;
  background-color: #f7f7f7;
  background-image: linear-gradient(to right bottom, rgba(195, 20, 50, 0.8), rgba(36, 11, 54, 0.8)), url("../img/explore-bg-img.jpg");
  background-size: cover;
  transform: skewY(-5deg);
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
  .section-explore > * {
    transform: skewY(5deg); }
  @media only screen and (max-width: 56.25em) {
    .section-explore {
      padding: 5rem 0; } }

.section-reach-us {
  padding: 10rem 0;
  /*
    Media Queries are not affected by the root font-szie
    So if user has default size as 20 then 1rem - 20px
    
    Also, by experimentation rems do not work very well in 
    all the browsers so we use ems for media queries.

    only screen makes media query apply only to screens
    so if someone tries to copy it or print it out.. they wont apply
  */ }
  @media only screen and (max-width: 56.25em) {
    .section-reach-us {
      padding: 5rem 0; } }
