.download-images{
    // position: relative;
    margin-top: 7rem;
    height: 50rem;

    &__qr{
        
        margin-left: 50%;
        transform: translateX(-50%);
        // position: absolute;
        // top:0;
        // left: 50%;
    
    }

    &__mobile{
        margin-left: 50%;
        transform: translateX(-50%);
        height: 30%;
        margin-top: 8rem;
    }
}